<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="duplicateHandling" type="xstring" value="AppendSuffixAutomatic"/>
<entry key="compositionMode" type="xstring" value="MatchAll"/>
<entry key="joinMode" type="xstring" value="InnerJoin"/>
<config key="leftTableJoinPredicate">
<entry key="array-size" type="xint" value="2"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="Years"/>
</config>
<config key="rightTableJoinPredicate">
<entry key="array-size" type="xint" value="2"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="Years"/>
</config>
<entry key="suffix" type="xstring" value="(*)"/>
<config key="leftIncludeCols">
<entry key="array-size" type="xint" value="20"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="Years"/>
<entry key="2" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_HDV_FCEV[years]"/>
<entry key="3" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_HDV_CEV[years]"/>
<entry key="4" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_HDV_PHEV-diesel[years]"/>
<entry key="5" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_HDV_PHEV-gasoline[years]"/>
<entry key="6" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_HDV_ICE-gasoline[years]"/>
<entry key="7" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_HDV_ICE-diesel[years]"/>
<entry key="8" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_HDV_ICE-gas[years]"/>
<entry key="9" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_HDV_BEV[years]"/>
<entry key="10" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_rail_CEV[years]"/>
<entry key="11" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_rail_ICE[years]"/>
<entry key="12" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_aviation_BEV[years]"/>
<entry key="13" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_aviation_ICE[years]"/>
<entry key="14" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_IWW_FCEV[years]"/>
<entry key="15" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_IWW_BEV[years]"/>
<entry key="16" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_IWW_ICE[years]"/>
<entry key="17" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_marine_FCEV[years]"/>
<entry key="18" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_marine_BEV[years]"/>
<entry key="19" type="xstring" value="ots_tra_freight_vehicle-lifetime_new_marine_ICE[years]"/>
</config>
<config key="rightIncludeCols">
<entry key="array-size" type="xint" value="26"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="Years"/>
<entry key="2" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_LDV_ICE-diesel[km]"/>
<entry key="3" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_LDV_ICE-gasoline[km]"/>
<entry key="4" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_LDV_ICE-gas[km]"/>
<entry key="5" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_LDV_PHEV-diesel[km]"/>
<entry key="6" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_LDV_PHEV-gasoline[km]"/>
<entry key="7" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_LDV_BEV[km]"/>
<entry key="8" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_LDV_FCEV[km]"/>
<entry key="9" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_2W_ICE-diesel[km]"/>
<entry key="10" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_2W_ICE-gasoline[km]"/>
<entry key="11" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_2W_BEV[km]"/>
<entry key="12" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_2W_FCEV[km]"/>
<entry key="13" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_2W_PHEV[km]"/>
<entry key="14" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_bus_ICE-diesel[km]"/>
<entry key="15" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_bus_ICE-gasoline[km]"/>
<entry key="16" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_bus_ICE-gas[km]"/>
<entry key="17" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_bus_BEV[km]"/>
<entry key="18" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_bus_FCEV[km]"/>
<entry key="19" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_bus_PHEV[km]"/>
<entry key="20" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_metro-tram_CEV[km]"/>
<entry key="21" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_rail_CEV[km]"/>
<entry key="22" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_rail_FCEV[km]"/>
<entry key="23" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_rail_ICE[km]"/>
<entry key="24" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_aviation_ICE[km]"/>
<entry key="25" type="xstring" value="ots_tra_passenger_vehicle-lifetime_new_aviation_BEV[km]"/>
</config>
<entry key="leftIncludeAll" type="xboolean" value="true"/>
<entry key="rightIncludeAll" type="xboolean" value="true"/>
<entry key="rmLeftJoinCols" type="xboolean" value="false"/>
<entry key="rmRightJoinCols" type="xboolean" value="true"/>
<entry key="maxOpenFiles" type="xint" value="200"/>
<entry key="rowKeySeparator" type="xstring" value="_"/>
<entry key="enableHiLite" type="xboolean" value="false"/>
<entry key="numBitsInitial" type="xint" value="6"/>
<entry key="numBitsMaximal" type="xint" value="32"/>
<entry key="usedMemoryThreshold" type="xdouble" value="0.85"/>
<entry key="minAvailableMemory" type="xlong" value="10000000"/>
<entry key="memUseCollectionUsage" type="xboolean" value="true"/>
<entry key="version" type="xstring" value="version_3"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.joiner.Joiner2NodeFactory"/>
<entry key="node-name" type="xstring" value="Joiner"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.7.2.v201904170949"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.7.2.v201904171038"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Joiner"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 1890, Cols: 61"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="7f353e61-746d-4389-8e13-abbcd7660b4a"/>
</config>
</config>
